body {
    background-color: #e6e6fa;
    color: rebeccapurple;
    padding: 40px;
    font-family: Arial;
    text-align: center;
}
.App {
  text-align: center;
}

.header {
    padding: 60px;
    text-align: center;
    background: #d8bfd8;
    color: white;
    font-size: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
    background-color: #e6e6fa;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: mediumpurple;
}

.App-link {
  color: #61dafb;
}

.section {
    width: 400px;
    height: 480px;
    margin: 30px;
    padding: 15px;
    background: lightblue;
    float: left; 
    border-radius: 50px 50px 50px 50px;


}

.section2 {
    width: 800px;
    height: 400px;
    margin: 200px;
    padding: 15px;
    background: white;
    border-radius: 50px 50px 50px 50px;
}


.p {
    position: fixed;
    width: 50%; /* == (50vw - (width of vertical scrollbar)) */
    height: 50%; /* == (50vh - (height of horizontal scrollbar)) */
    margin: 5%; /* == (5vw - (width of vertical scrollbar)) */
    padding: 5%; /* == (5vw - (width of vertical scrollbar)) */
    background: cyan;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
